<div class="post" *ngIf="postData$ | async as postData; else loading">
  <div class="header post__header">
    <h2 class="post__title">{{ postData?.title }}</h2>

    <button class="btn btn-link" routerLink="/">To main page</button>
  </div>
  <!-- /.header -->
  <div class="info post__info">
    <strong class="info__author">{{ postData?.author }}</strong>
    <small class="info__date">{{
      postData?.date | date: "medium":"":"en"
    }}</small>
  </div>
  <!-- /.info -->
  <div class="post__content">
    <quill-view-html [content]="postData?.content!"></quill-view-html>
  </div>
  <!-- /.post__content -->
</div>
<!-- /.post -->

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
