<div class="post">
  <div class="header post__header">
    <h2 class="post__title">Post title</h2>

    <div class="btn btn-link" routerLink="/">На главную</div>
  </div>
  <!-- /.header -->
  <div class="info post__info">
    <strong class="info__author">Тут автор</strong>
    <small class="info__date">12.09.2019</small>
  </div>
  <!-- /.info -->
  <div class="post__content">
    <p class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto fugit,
      nihil et ut inventore quod quos eligendi deleniti quibusdam officiis.
    </p>
    <p class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto fugit,
      nihil et ut inventore quod quos eligendi deleniti quibusdam officiis.
    </p>
    <p class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto fugit,
      nihil et ut inventore quod quos eligendi deleniti quibusdam officiis.
    </p>
    <p class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto fugit,
      nihil et ut inventore quod quos eligendi deleniti quibusdam officiis.
    </p>
  </div>
  <!-- /.post__content -->
</div>
<!-- /.post -->
