<form
  class="card form"
  [formGroup]="form"
  (ngSubmit)="signInWithEmailAndPassword()"
>
  <h2>Login to admin panel</h2>

  <div class="alert alert-danger" *ngIf="_authService.error$ | async as error">
    {{ error }}
  </div>
  <!-- /.alert aler-danger -->

  <div class="alert alert-info" *ngIf="notAuthMessage">
    {{ notAuthMessage }}
  </div>
  <!-- /.alert aler-danger -->

  <div class="form-control form__control">
    <label>
      Email:
      <input formControlName="email" type="email" />
    </label>
    <div
      class="validation"
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
    >
      <small *ngIf="form.get('email')?.errors?.required"
        >Enter your email</small
      >
      <small *ngIf="form.get('email')?.errors?.email"
        >Email is not correct</small
      >
    </div>
    <!-- /.validation -->
  </div>
  <!-- /.form-control form__control -->

  <div class="form-control form__control">
    <label>
      Password:
      <input formControlName="password" type="password" />
    </label>
    <div
      class="validation"
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
    >
      <small *ngIf="form.get('password')?.errors?.required"
        >Enter your password</small
      >
      <small *ngIf="form.get('password')?.errors?.minlength"
        >The password must be longer than
        {{ requiredPasswordLength }} characters. Current password length is
        {{ actualPasswordLength }} characters</small
      >
    </div>
    <!-- /.validation -->
  </div>
  <!-- /.form-control form__control -->

  <button
    type="submit"
    class="btn btn-primary form__button"
    [disabled]="form.invalid"
  >
    Login
  </button>
</form>
<!-- /.card form -->
