<div class="admin-table" *ngIf="posts.length; else loading" class="dashboard">
  <div class="form-control">
    <input type="text" placeholder="Search post" [(ngModel)]="searchRequest" />
  </div>
  <!-- /.form-control -->
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Name</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | searchPosts: searchRequest; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ post?.author }}</td>
        <td>{{ post?.title }}</td>
        <td>{{ post?.date | date: "medium":"":"en" }}</td>
        <td>
          <button
            class="btn btn-link admin-table__button"
            [routerLink]="['/admin', 'post', post.id, 'edit']"
          >
            Open
          </button>
          <button class="btn btn-error" (click)="deletePostById(post?.id!)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading><p class="text-center">Loading...</p></ng-template>
